html, body 
  margin: 0
  padding: 0

body
  cursor: grab
  background-color: rgb(213,213,213)
  overflow: hidden
  cursor: crosshair 

.overlay
  position: absolute
  box-sizing: border-box
  z-index: 4
  background-color: rgb(213,213,213)
  border-style:  solid
  border-color: rgb(120,120,120)
  transition: opacity .1s

#noise
  z-index: 7
  position: absolute
  overflow: hidden
  opacity: 0.015
  pointer-events: none

#titulo, #tit, #desc, #cat, #aut, #im1, #im2, #txt, #titabt, #auth, #submm
  border-width: 0.5px

#tit, #titabt
  >p
    font-size: 17px
    font-weight: normal

#tit, #desc, #cat, #aut, #im1, #im2, #txt, #lupa, #filter, #titabt, #auth, #submm
  transition: opacity .1s
  animation: opcty 1s linear

@keyframes opcty
  0% 
    opacity: 0
  100%
    opacity: 1


#desc, #cat
  >p
    font-size: 16px
    line-height: 25px
  >span
    font-family: 'JetBrains Mono', monospace
    color: rgb(90,90,90)

.fit
  width: 44%
  margin-left: 4%
  margin-top: 4%
  display: inline-block
  >input
    width: 96%
    font-family: 'JetBrains Mono', monospace
    background-color: transparent
    border: none
    border-bottom: solid 1px rgb(90,90,90)
  >p
    font-family: 'JetBrains Mono', monospace

.full
  margin-left: 4%
  width: 92%
  >input, >textarea
    width: 99%
    background-color: transparent
    border: none
    border-bottom: solid 1px rgb(90,90,90)
    font-family: 'JetBrains Mono', monospace
  >p
    font-family: 'JetBrains Mono', monospace

#subsub
  background-color: rgb(230,230,230)
  border: solid 1px rgb(90,90,90)


#titulo
  >h1,>h2 
    font-family: 'JetBrains Mono', monospace
    padding: 0px
    margin: 0px
    padding-left: 15px
    color: rgb(120,120,120)

#titulo
  >h1
    font-weight: 300
    font-size: 22px
    padding-top: 20px

#titulo
  >h2
    font-weight: 200
    font-style: italic
    font-size: 12px
    padding-top: 10px

.overlay
  >p
    font-family: 'JetBrains Mono', monospace
    font-weight: 300
    font-size: 14px
    color: rgb(120,120,120)
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    text-align: center
    width: 100%

#tit, #desc, #aut, #im1, #im2, #txt, #auth
  >p
    text-align: left
    padding-left: 1vw
    width: 97%


#auth
  >p
    line-height: 25px
    font-size: 15px
    width: 95%

.unclicked
  border-width: 1px 4px 4px 1px

.clicked
  border-width: 4px 1px 1px 4px
  margin-left: 3px
  margin-top: 3px

.filtros
  position: absolute
  height: 0px
  top: 0px
  color: rgb(120,120,120)
  transition: height .2s, top .2s, border-width .2s
  border-width: 0px

.filtros
  >p
    font-size: 0px
    transition: font-size .2s

.grelha
  position: absolute

vl, hr
  position: absolute
  display: inline-block
  margin: none
  padding: none

hr
  height: 0px

.grelha
  >hr,>vl
    border: 1px solid rgba(120,120,120, 0.5)

$audio: #4b8e6f
$video: #e29558
$app: #db7679

.audio
  background-color: $audio

.video
  background-color: $video

.app
  background-color: $app

.projeto
  animation: opcty 1s linear
  transition: top .5s, left .5s, width .5s, height .5s, opacity 1s
  >p
    color: rgb(0,0,0)
    width: 90%
    padding-left: 5%
    transition: font-size .1s
    transition: opacity .5s, font-size .1s
    font-family: 'JetBrains Mono', monospace
    &:nth-child(1)
      padding-top: 0px
      line-height: 25px
    &:nth-child(2)
      line-height: 18px
  >img
    position: absolute
    bottom: 37px
    width: 90%
    padding-left: 5%
    pointer-events: none
    transition: opacity .5s



.grayscale
  filter: grayscale(1)

.normal
  >p
    font-size: 0px
    opacity: 0
    &:nth-child(1)
      font-size: 0px
  >img
    height: 0px
    opacity: 0


.expandido
  >p
    font-size: 12px
    opacity: 1
    &:nth-child(1)
      font-size: 18px
      margin-bottom: 0px
  >img
    height: auto
    opacity: 1


